/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --first-color: #101312;
  --first-color-lighter: #ECF3F2;
  --title-color: #11443F;
  --text-color: #5B7B78;
  --body-color: #F5FFFE;
  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 3rem;
  --big-font-size: 1.25rem;
  --normal-font-size: .938rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 5.5rem;
    --big-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*========== BASE ==========*/
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, ul, p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  filter: brightness(50%);
}

/*========== LAYOUT ==========*/
.main {
  position: relative;
}

.bd-container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*========== HEADER ==========*/
.header {
  width: 98%;
  position: fixed;
  margin:9px 2px 6px 9px;
  border-radius: 10px;
  z-index: var(--z-fixed);
  background-color: rgba(17, 18, 18, 0.199);
}

/*========== NAV ==========*/
.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 1.5rem;
    background-color: var(--first-color-lighter);
    border-radius: 1rem;
    transition: .4s;
  }
}

.nav__logo, .nav__toggle {
  color: var(--body-color);
  font-weight: var(--font-medium)
}

.nav__link {
  color: var(--first-color-dark);
  font-weight: var(--font-medium);
}

.nav__item {
  margin-bottom: 1.5rem;
}

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: calc(var(--header-height) + 1rem);
}

/*========== INLANDS ==========*/
.cities {
  height: 100vh;
  position: relative;
}

.cities__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.cities__container {
  position: relative;
  height: 100%;
  display: flex;
  margin-top: 8rem;
  align-content: center;
  color: #5B7B78;
}

.cities__subtitle, .cities__title, .cities__description {
  color: var(--body-color);
  text-shadow: 2px 2px 5px rgb(3, 3, 3);
}

.cities__subtitle {
  font-size: 2rem;
  font-weight: var(--font-medium);
}

.cities__title {
  font-size: 3.5rem;
  margin:0;
}

.cities__description {
  margin-bottom: 1rem;
  
}

.cities__button {
  display: inline-flex;
  align-items: center;
  padding: .5rem 1rem;
  background-color: var(--body-color);
  color: var(--first-color);
  border-radius: .5rem;
  font-weight: var(--font-medium);
  
}

.cities__button:hover {
  background-color: var(--first-color-lighter);
}

.cities__button-icon {
  font-size: 1.5rem;
  margin-left: .5rem;
}


/* Controls */
.controls {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  padding: .25rem .5rem;
  background-color: var(--body-color);
  border-radius: .75rem;
  z-index: var(--z-tooltip);
  overflow: hidden;
}

.controls__img {
  width: 35px;
  height: 35px;
  border-radius: .5rem;
  cursor: pointer;
}

.controls__container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

/* Active controls */
.swiper-slide-thumb-active {
  width: 45px;
  height: 45px;
}

/*========== MEDIA QUERIES ==========*/
/* For small devices */
@media screen and (max-width: 320px) {
  .bd-container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .controls__container {
    column-gap: .25rem;
  }
  .cities__popup-video {
    width: 230px;
    height: 100px;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-right: 2rem;
    margin-bottom: 0;
  }
  .nav__link {
    color: var(--body-color);
  }
  .nav__toggle {
    display: none;
  }
  .cities__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .cities__description {
    padding-right: 5rem;
    margin-bottom: 2rem;
  }
  .cities__video {
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .cities__video-icon {
    font-size: 3rem;
  }
  .cities__popup-video {
    width: 500px;
    height: 250px;
  }
  .cities__popup-close {
    font-size: 1.5rem;
  }
  .controls {
    padding: .5rem;
    border-radius: 1.25rem;
  }
  .controls__container {
    column-gap: 1.5rem;
  }
  .controls__img {
    width: 45px;
    height: 45px;
    border-radius: .75rem;
  }
  .swiper-slide-thumb-active {
    width: 55px;
    height: 55px;
  }
}

@media screen and (min-width: 1024px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
  .cities__description {
    padding-right: 11rem;
  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
  .cities {
    height: 640px;
  }
}
